*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.ncb
*.suo
Debug
Final
servercache.dat
games.log
jampconfig.cfg
ipch
*.sdf
*.filters
*.*.user
*.bsc
cgamex86.dll
jampgamex86.dll
uix86.dll
*.aps
*.idb
*.pk3
*.opensdf
*.ilk